@{
    ViewData["Title"] = "Create Department";
}

@model DataAccessLayer.Models.Department

<h1>Create Department</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Creation"></label>
        <input asp-for="Creation" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

